straight/build
straight/repos
straight/build-cache.el
/transient/
/projectile-bookmarks.eld
/session.*
/.cache/
/.lsp-session-v1
/workspace/
/projects
/projectile.cache
/elpy/
/straight/modified/
/eln-cache/
